.budgetListContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr)
}

.construction {
    grid-column: 1/5;
    text-align: center;
    color: #B72118;
}

.budgetListTitles {
    grid-column: 1/5;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #000000;
    line-height: 3em;
}

.budgetListCategoryContainer {
    grid-column: 1/2;
    display: flex;
    text-align: center;
    flex-direction: column;
    line-height: 2em;
}

.budgetListBudgetedContainer {
    grid-column: 2/3;
    display: flex;
    text-align: center;
    flex-direction: column;
    line-height: 2em;
}

.budgetListActivityContainer {
    grid-column: 3/4;
    display: flex;
    text-align: center;
    flex-direction: column;
    line-height: 2em;
}

.budgetListAvailableContainer {
    grid-column: 4/5;
    display: flex;
    text-align: center;
    flex-direction: column;
    line-height: 2em;
}